<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-brand">
                <a href="#" class="footer-logo">Timexia</a>
                <p class="footer-tagline">Randevu teknolojisini herkes için erişilebilir kılıyoruz.</p>
            </div>
            
            <div class="footer-links">
                <div class="footer-links-group">
                    <h4 class="footer-links-title">Sayfalar</h4>
                    <ul>
                        <li><a href="index.html">Ana Sayfa</a></li>
                        <li><a href="appointment.html">Randevu Al</a></li>
                        <li><a href="about.html">Hakkımızda</a></li>
                    </ul>
                </div>
                
                <div class="footer-links-group">
                    <h4 class="footer-links-title">İletişim</h4>
                    <ul>
                        <li><a href="mailto:info@timexia.io">info@timexia.io</a></li>
                        <li><a href="tel:+901234567890">+90 123 456 78 90</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p class="copyright">&copy; 2023 Timexia. Tüm hakları saklıdır.</p>
            <div class="social-links">
                <a href="#" class="social-link">Twitter</a>
                <a href="#" class="social-link">Instagram</a>
                <a href="#" class="social-link">LinkedIn</a>
            </div>
        </div>
    </div>
</footer>
