<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="index.html" class="logo">
                <span>Timexia</span>
            </a>
            <div class="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link" data-active="index" data-key="navHome"></a></li>
                    <li class="nav-item"><a href="appointment.html" class="nav-link" data-active="appointment" data-key="navAppointment"></a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link" data-active="about" data-key="navAbout"></a></li>
                </ul>
                
                <!-- Dil seçim bileşeni -->
                <div class="language-selector">
                    <div class="current-lang" id="current-lang">
                        <span class="lang-code" id="current-lang-code">TR</span>
                        <span class="arrow-down"></span>
                    </div>
                    <div class="lang-dropdown" id="lang-dropdown">
                        <div class="lang-option active" data-lang="tr">
                            <span class="lang-name">Türkçe</span>
                        </div>
                        <div class="lang-option" data-lang="en">
                            <span class="lang-name">English</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn-mobile-nav">
                <span class="icon-menu"></span>
            </button>
        </nav>
    </div>
</header>
